.game-over {
  filter: blur(4px);
}

.paused-message,
.game-over-message {
  position: fixed;
  top: 30%;
  left: 70%;
  transform: translate(-50%, -50%);
  font-size: 8vmin;
  color: red;
}

.row {
  display: flex;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  background-color: #f0f0f0;

  &.snake {
    background-color: #369e06;
  }

  &.food {
    background-color: #f00;
  }
}


@media (max-width: 1912px) {
  .paused-message,
  .game-over-message {
    top: 50%;
    left: 50%;
  }
}
