@import "../../../../../styles";

.game-over {
  filter: blur(4px);
}

.paused-message,
.game-over-message {
  position: fixed;
  top: 30%;
  left: 70%;
  transform: translate(-50%, -50%);
  font-size: 8vmin;
  color: red;
}

.row {
  display: flex;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  background-color: $background-color;

  &.snake {
    background-color: $snake-color;
  }

  &.food {
    background-color: $food-color;
  }
}


@media (max-width: 1912px) {
  .paused-message,
  .game-over-message {
    top: 50%;
    left: 50%;
  }
}

@media (max-width: 768px) {
  .cell {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 542px) {
  .cell {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 440px) {
  .cell {
    width: 15px;
    height: 15px;
  }
}
