@for (row of array(1, BOARD_ROWS); track row) {
  <div class="row">
    @for (col of array(1, BOARD_COLUMNS); track col) {
      <div [ngClass]="{
      'cell': true,
      'snake': isSnake({x: col, y: row}),
      'food': isFood({x: col, y: row}),
      'wall': isWall({x: col, y: row}),
      'game-over': isGameOver$ | async,
      }"></div>
    }
  </div>
}

@if (isPaused$ | async) {
  <p class="paused-message">PAUSED</p>
}

@if (isGameOver$ | async) {
  <p class="game-over-message">GAME OVER</p>
}
