<div [ngClass]="{
  'menu': true,
  'flex-row': isRow,
}">
  <div class="score-message" #scoreElement>Your score: {{ score }}</div>

  <div class="buttons-wrapper">
    <button class="restart-button" (click)="backToMenu()">Back to Menu</button>
    @if (isGameOver$ | async) {
      <button class="restart-button" (click)="restart()">Restart Game</button>
    } @else {
      @if (isPaused$ | async) {
        <button class="pause-button" (click)="pause()">Resume Game</button>
      } @else {
        <button class="pause-button" (click)="pause()">Pause Game</button>
      }
    }
  </div>
</div>
