<div class="wrapper">
  <div class="container">
    <h1 class="welcome-message">Welcome to filip.games</h1>
    <p class="short-description">Here you can find some of my games</p>

    <h2 class="games-text">Games:</h2>
    <ol class="games-list">
      <li><a href="/games/snake" class="redirect-link">Snake</a></li>
      <li><a href="/games/tetris" class="redirect-link">Tetris</a></li>
      <li><a href="/games/arrange_puzzle" class="redirect-link">Arrange Puzzle</a></li>
    </ol>
  </div>

  <div class="contact-info">
    <p class="footer-text">Made by: Filip Filchev</p>
    <ul class="contacts">
      <li class="footer-link"><a href="mailto: fkfilchev@gmail.com" target="_blank">Email</a></li>
      <li class="footer-link"><a href="https://github.com/RoronoaFilip" target="_blank">GitHub</a></li>
      <li class="footer-link"><a href="https://www.linkedin.com/in/filip-filchev/" target="_blank">LinkedIn</a></li>
    </ul>
  </div>
</div>
