<div class="container">

  <div class="menu">
    <p class="score-message">Your score: {{ score }}</p>
    @if (gameOver) {
      <button class="restart-button" (click)="restart()">Restart Game</button>
    } @else {
      <p class="hint-message">HINT: Press Esc to Pause</p>
      @if (isPaused) {
        <button class="pause-button" (click)="pause()">Resume Game</button>
      } @else {
        <button class="pause-button" (click)="pause()">Pause Game</button>
      }
    }
  </div>

  <app-snake-board
    (gameOverEmitter)="onGameOver($event)"
    (score)="onScore($event)"
    [isPaused]="isPaused"
  ></app-snake-board>

  <div class="mobile-controls">
    <nav class="o-pad">
      <div class="up" (click)="dispatchKeyEvent('ArrowUp')"></div>
      <div class="right" (click)="dispatchKeyEvent('ArrowRight')"></div>
      <div class="down" (click)="dispatchKeyEvent('ArrowDown')"></div>
      <div class="left" (click)="dispatchKeyEvent('ArrowLeft')"></div>
    </nav>
  </div>
</div>
