.row {
  display: flex;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  background-color: #f0f0f0;
}

.paused-message,
.game-over-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8vmin;
  color: red;
}

.grids-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 20px;
}

.next-piece-grid {
  align-self: flex-start;
}
