$font-stack: 'Arial, sans-serif';
$primary-color: #3498db;
$secondary-color: #2ecc71;
$text-color: #333;
$background-color: #f9f9f9;
$link-color: $primary-color;
$link-hover-color: darken($primary-color, 10%);
$border-radius: 5px;
$food-color: #f00;
$snake-color: #369e06;
$board-color: #f0f0f0;

body {
  max-width: 100vw;
  min-height: 50vh;
  margin: 0;
  background-color: var(--background-color);
  font-family: 'Anton', sans-serif;
}

.snake {
  background-color: var(--snake-color);
  border: 0.25vmin solid black;
  transition: all .3ms ease-in;
}

.food {
  border-radius: 50%;
  background-color: var(--food-color);
  border: 0.25vmin solid black;
  transition: all .3ms ease-in;
}
