<div class="puzzle-game">

  @if (!this.isWon) {
    <div class="game-info">
      <h1 class="title">Arrange the numbers in ascending order</h1>
      <div class="moves">Number of moves: {{ this.moves | async }}</div>
      <div class="timer">Time: {{ this.time }}</div>

      @if (!isPlaying) {
        <button class="start-button" (click)="this.start()">Start</button>
      }
    </div>
  } @else {
    <div class="game-over">
      <h1 class="title">You Win</h1>
      <div class="moves">Number of moves: {{ this.moves | async }}</div>
      <div class="timer">Time: {{ this.time }}</div>
      <button class="restart-button" (click)="this.restart()">Restart</button>
    </div>
  }

  <div [ngClass]="{
    'board-wrapper': true,
    'locked': !this.isPlaying
  }">
    @for (col of array(0, this.numbersService.numbers.length - 1); track col) {
      <div class="row">
        @for (row of array(0, this.numbersService.numbers[0].length - 1); track row) {
          <app-puzzle-cell
            [num]="this.numbersService.numbers[col][row]"
            [x]="col"
            [y]="row"
            appCellMove
          >
          </app-puzzle-cell>
        }
      </div>
    }
  </div>

</div>
